$primary-color: #249553;
$primary-text-color: #fff;

$secondary-color: #813e5f;
$secondary-text-color: #fff;

$black: #212121;
$light-gray: #f0f0f0;
$gray: #888;
$dark-gray: #666;
$white: #fefefe;

$container-size: 968px;


$header-height: 64px;
$header-height-large: 96px;

// Form
$input-font-size: 0.75rem;
$form-label-font-size: 0.75rem;
$form-label-font-weight: bold;
$form-label-color: $dark-gray;


